.register{
  height: 101vh;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  margin-bottom: 30px;
}

.registerLabel{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}

.registerCloud{
  font-size: 140px;
  position: absolute;
  margin-bottom: 320px;
  color: white;
}

.registerTitle{
  position: relative;
  color: rgb(196, 176, 199);
  font-size: 30px;
}

.registerForm{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput{
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  border-radius: 20px;
  border: none;
}

.registerButton{
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(232, 241, 245);
  border: none;
  border-radius: 20px;
  height: 30px;
  padding: 10px;
}

.registerLoginButton{
  bottom: 60px;
  border: none;
  background: none;
  color: white;
}

.registerLoginWrapper{
  display:flex;
  align-items:flex-end;
  justify-content:center;
  width:100px;
  height:50px;
}
.error{
  color: white;
}