.container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.username {
  /* margin-top: 50%; */
  justify-content: space-around;
  border: black 1px solid;
  height: 100px;
  width: 200px;
}

.password{
  border: black 1px solid
}

.login {
  display: flex;
  
}