.entries{
  display: flex;
  flex-direction: column;
  background-color: rgb(249, 247, 245);
}

.entryTitle{
  display: flex;
}

.emoji{
  margin-left: 20px;
}

.delete{
  margin-left: auto;
  margin-right: 8px;
  font-size: large;
}

.entriesUserName{
margin-left: 20px;
}

.userContent{
  margin-top: 2px;
  height: 100px;
  
}

.userEntry{
margin-top: 30px;
}