
.postFormMain{
  margin-top: 30px;
  display:flex;
  justify-content: center;
  align-items:center;
  padding-top: 25%;

}  

.postForm{
  display:flex;
  flex-direction:column;
  align-items:center;
  height:100vh;
  width: 100%;
}
.postFormCard{
  display:flex;
  flex-direction:column;
  height:30%;
  width:100%;
}

.postTitle{
  margin-left: 10px;
}
.postText {
  padding: 6px 5px 30px 5px;
}

.postFormTitleCard {
  margin: 20px 20px 50px 20px;
}

.postFormTextAreaCard {
  margin: 0 15px 0 15px;
  
}
.postFormButton{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width:100px;
}
  
  
  
  
  
  

  
  /* .postForm {
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid black 1px;
} */ 
/*
::placeholder {
  padding-left: 10px;
  
}
.postTitle {
}

.postFormCard{
  margin-top: 50px;
}
.postText {
  align-items: center;
  justify-content: space-around; 
  
} 

.privateRow{
  display:flex;
  height: 60vh;
  width: 85vw;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}

.postFormButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  
} */

/* .privacyToggle{
  font-size: 20px;
}
ion-toggle {
  --background: #e6f6f7;
  --background-checked: #e6f6f7;
  
  --handle-background: #d1dde4;
  --handle-background-checked: #d1dde4;
} */
/* ion-label {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  
  /* .dreamCategories{
    font-size: 30px;
    margin-left: 15px;
    padding-bottom: 15px;
  } */
