.postForm {
  background-color: rgb(181, 192, 206);
  height: 101vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

::placeholder {
  padding-left: 10px;
  
}


.postTitle {
  margin-top: 10%;
  margin-bottom: 5%;
  /* align-items: center;
  justify-content: space-around; */
  /* width: 80vh; */
}
.postText {
  margin-bottom: 10%;
  /* align-items: center;
  justify-content: space-around; */
  /* width: 80vh; */
}
.emojis {
  display: flex;
}
.dreamCategories{
  font-size: 30px;
  margin-left: 15px;
  padding-bottom: 15px;
}


.privateRow{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

.privacyToggle{
  margin-top: 10px;
  font-size: 20px;
}
ion-toggle {
  margin-top: 10px;
  --background: #000;
  --background-checked: #7a49a5;

  --handle-background: #7a49a5;
  --handle-background-checked: #000;
}
ion-label {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}